# Required
RED_PILL_API_KEY=
AUTH_JWKS_URL=https://auth.mera.news/api/auth/jwks

# Optional
PORT=8080
NODE_ENV=development
CORS_ORIGIN=http://localhost:8081
THROTTLE_TTL=60
THROTTLE_LIMIT=30
LOG_LEVEL=debug
